@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background-color: black; 
      
}
/* main section css */
.overservice_container{
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    padding-right: 98px;
    padding-left: 98px;
}
.ourserviceHeading{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-family: "Vazirmatn", sans-serif;
}
.ourPra{
    width: 1225px;
    /* height:25px ; */
    font-family: "Vazirmatn", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: white;
}
.overImages_container{
    width: 1244px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    /* border: 2px solid green; */
    /* height: 500px; */

    
}
.ourimg{
    width: 290px;
    padding: 10px;
    height:285px;
    border-radius: 12px;
    /* box-shadow: 0 8px 12px 0 #D90A1429; */
    /* border: 2px solid green; */
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.figHeading{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    font-family: "Vazirmatn", sans-serif;
    color: #f44336;
    margin-bottom: 10px;

}
.figcontent{
    font-size: 14px;
    letter-spacing: 0%;
    text-transform: capitalize;
    font-weight: 300;
    line-height: 100%;
    font-family: "Vazirmatn", sans-serif;
    text-decoration: none;
    color: white;
    margin-top: 30px;
    text-align: justify;
    /* text-align: center; */
    /* width: 371px; */

}
.figimg{
    width: 150px;
    height: 100%;
    /* background-image: ; */
}

.btnmonth{
    width: 100px;
    height: 30px;
    background-color: #f44336;
    border: none;
    border-radius: 20px;
    margin: auto;
}

.ourPlan{
width: 1440px;
/* border: 1px solid green; */
margin: auto;
margin-top: 10px;
display: flex;
justify-content: space-around;
align-items: center;
gap: 10px;
}
.ourPlanContainer{
width: 390px;
height: 553px;
border: 2px solid red;
display: flex;
flex-direction: column;
color: white;
text-align: center;
text-transform: uppercase;
margin-top: 10px;
gap: 10px;
padding: 20px;
border-radius: 10px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.description{
    color: red;
    font-size: 16px;
}
ul{
    text-align: justify;
    font-size: 15.80px;
    margin-top: 5px;
    letter-spacing: 0%;
}
ul li{
    font-size: 15px;
    margin-top: 5px;
    color: white;
}
/* .licontent{
    color: white;
    /* font-size: 12px; */

.btnChose{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    font-family: "Vazirmatn", sans-serif;
    margin-top: 10px;
    background-color: orange;

}