* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: "Vazirmatn", sans-serif;

}
.blogpostsdivsec2{
    width: 600px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 10px;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5)), url(blogposts1.jpg);
    background-size: cover;
    color: white;
    display: flex;
    align-items: flex-end;
    font-size: 30px;
}
.blogpostsdivsec3{
    width: 600px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 10px;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5)), url(blogposts2.jpg);
    background-size: cover;
    color: white;
    display: flex;
    align-items: flex-end;
    font-size: 30px;
}
.FAQdiv{
    margin: auto;
    width: 1440px;
    height: 520px;
    /* box-shadow: ; */
    /* background: rgba(0, 0, 0, 0.25); */
    /* background: black;   */
    padding-right: 98px;
    padding-left: 98px; 
}
.FAQheadingdiv{
    width: 1244px;
    height: 70px;
    /* background: black; */
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    padding-top: 25px;
    /* border: white 1px solid; */
}
.questionholderdiv{
    width: 1244px;
    /* height: 494px; */
    display: flex;
    gap: 17px;
    flex-direction: column;
}
.questionsdiv{
    width: 1244px;
    height: 64px;
    border: 2px solid orangered;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    padding: 19px 24px;
}
.footerdiv{
    width: 1440px;
    /* background: black; */
    padding: 60px 98px;
    margin: auto;
    display: flex;
}
.footerdivsection1{
    width: 515px;
    height: 190px;
}
.footersection2sub{
    width: 169px;
    /* height: 300px; */
    text-align: center;
}
.footersection2sub ul li{
    color: white;
    font-size: 10px;
    list-style-type: none;
    font-size: 15px;
    line-height: 2;
}


body {
    background: linear-gradient(135deg, #0a0a0a 0%, #1a0808 30%, #2d1414 50%, #1a0808 70%, #0a0a0a 100%);
    min-height: 100vh;
    background-attachment: fixed;
    color: #ffffff;
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
}



li:hover {
    color: orangered;
}

.headerbuttons {
    display: flex;
    gap: 15px;
}

.btnlogin {
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid orangered;
    color: orangered;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btnlogin:hover {
    background-color: orangered;
    color: white;
}

.btnsignup {
    padding: 10px 25px;
    background: linear-gradient(135deg, #e63946 0%, #dc143c 100%);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.section1 {
    height: 662px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding: 60px;
    gap: 40px;
}


.sec1p1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec1p2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sec1p1c1 {
    margin-bottom: 40px;
}

.sec1p1c1 h1 {
    color: white;
    font-size: 48px;
    line-height: 1.3;
    font-weight: 300;
}

.sec1p1c1 .light {
    color: orangered;
    font-size: 72px;
    font-weight: bold;
    font-family: Impact, 'Arial Black', sans-serif;
    letter-spacing: 2px;
}

.sec1p1c2 {
    max-width: 600px;
}

.sec1p1c2c {
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
    max-width: 600px;
    margin: 20px 0;
    opacity: 0.9;
}


.sec1p1c2c-btn {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.btn-1 {
    padding: 15px 35px;
    background: linear-gradient(135deg, #e63946 0%, #dc143c 100%);
    border: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-2 {
    padding: 15px 35px;
    background: transparent;
    border: 2px solid orangered;
    color: orangered;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    @import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
}

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* background-color: black; */

    }

    /* main section css */
    .overservice_container {
        width: 1440px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 24px;
        padding-right: 98px;
        padding-left: 98px;
    }

    .ourserviceHeading {

        font-family: Arial, Helvetica, sans-serif;
        font-size: 32px;
        font-weight: bold;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: capitalize;
        text-align: center;
        color: white;
        font-family: "Vazirmatn", sans-serif;
    }

    .ourPra {
        width: 1225px;
        /* height:25px ; */
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
        color: white;
    }

    .overImages_container {
        width: 1244px;
        display: flex;
        justify-content: space-around;
        gap: 10px;
        /* border: 2px solid green; */
        /* height: 500px; */


    }

    .ourimg {
        width: 290px;
        padding: 10px;
        height: 285px;
        border-radius: 12px;
        /* box-shadow: 0 8px 12px 0 #D90A1429; */
        /* border: 2px solid green; */
        display: flex;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    }

    .figHeading {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        font-family: "Vazirmatn", sans-serif;
        color: #f44336;
        margin-bottom: 10px;

    }

    .figcontent {
        font-size: 14px;
        letter-spacing: 0%;
        text-transform: capitalize;
        font-weight: 300;
        line-height: 100%;
        font-family: "Vazirmatn", sans-serif;
        text-decoration: none;
        color: white;
        margin-top: 30px;
        text-align: justify;
        /* text-align: center; */
        /* width: 371px; */

    }

    .figimg {
        width: 150px;
        height: 100%;
        /* background-image: ; */
    }

    .btnmonth {
        width: 100px;
        height: 30px;
        background-color: #f44336;
        border: none;
        border-radius: 20px;
        margin: auto;
        cursor: pointer;
    }

    .ourPlan {
        width: 1440px;
        /* border: 1px solid green; */
        margin: auto;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }

    .ourPlanContainer {
        width: 390px;
        height: 553px;
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        text-transform: uppercase;
        margin-top: 10px;
        gap: 10px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .description {
        color: red;
        font-size: 16px;
    }

    ul {
        text-align: justify;
        font-size: 15.80px;
        margin-top: 5px;
        letter-spacing: 0%;
    }

    ul li {
        font-size: 15px;
        margin-top: 5px;
        color: white;
    }

    /* .licontent{
    color: white;
    /* font-size: 12px; */

    .btnChose {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        text-align: center;
        height: 40px;
        border-radius: 20px;
        font-size: 18px;
        color: white;
        font-family: "Vazirmatn", sans-serif;
        margin-top: 10px;
        background-color: orange;
        cursor: pointer;
    }
    
